[submodule "lib/KV-WorkloadGenerator"]
	path = lib/KV-WorkloadGenerator
	url = https://github.com/SSD-Brandeis/KV-WorkloadGenerator.git
	branch = main
[submodule "lib/rocksdb"]
	path = lib/rocksdb
	url = https://github.com/ericpolo/rocksdb_VA.git
	branch = VA_new
